.home
  .home-mid
    %h1 About Us
    %p
      We are about sports and good times. We drink when we win, and we drink when we lose. No matter what happens we always have a good time. Our main value is partnerships with our customers, employees, and the community of restaurants. 
    %h2 Our Founders
    %h3 Ed Manganiello
    %h3 Luis Godoy
    %h3 Zach Alexander
    %h3 Youssef Badr 
    %h3 Jake Dickinson
    %br
    %h2 Community Partnerships
    %p 
      Partnerships are a large part of our companies mission. We want to work with our local sports community as well as with our surrounding businesses to provide customers with the best possible experience. To accomplish this we have adopted the following partnerships...
    %h3 Local youth sports sponsorships.
    %h3 Discounts when our favorite teams succeed.
    %h3 Distribution of our house brewed IPA to local restarants.
    %h3 Hosting community events.
    %h3 Centralized WiFi with surrounding businesses.
    %br
    %h2 Restaurant Layout
    %br
    .devise-center
      .demo-img
        = image_tag("layout.png")