.home
  .home-mid
    %h1 LEY-ZJ Careers
    %h2 Work Environment
    %p
      LEY-ZJ Sports Bar & Grill is a fast paced food environment. We are a sports oriented restaurant, so sports are playing all the time. We encourage a family friendly environment where parents can take their kids and their kid's teammates after a game. 
    %h2 Our On Boarding Process
    %p
      Our on-boarding process involves a screening of both your personality and your technical qualifications. Once hired there will be a 6 month follow up to ensure the needs of the company and yourself are being met. After your first year you will recieve your first annual evaluation.
    .devise-center
      .demo-img
        = image_tag("onboard.png")
    %h2 Organization Structure
    %br
    .devise-center
      .demo-img
        = image_tag("chain.png")
    %h2 Open Positions
    .devise-center
      .home-button
        = link_to "General Manager", manager_path
    .devise-center
      .home-button
        = link_to "Server", server_path