.home
  .home-mid
    %h1 Restaurant General Manager
    %h2 Position Overview
    %p
      While on the job you will be in charge of keeping track and supervising subordinate employees. You will need to coordinate with team members, and the kitchen to make sure everything is operating properly. As well as serving as the front face when customer services issues arise. You will also be responsible for scheduling employees, and managing payroll. Able to maintain a safe work environment, and make sure everyone is handling food correctly. 
    %h2 Desired Skills
    %h3 Microsoft Office.
    %h3 Scheduling.
    %h3 Payroll.
    %h3 Management. 
    %br
    %h2 Desired Abilities
    %h3 Lead a team.
    %h3 Communicate clearly.
    %h3 Delegate work.
    %h3 Problem solving.
    %br
    %h2 Desired Knowledge
    %h3 Preference to High School Graduates / GED.
    %h3 Previous Restaurant Experience.
    %h3 ServeSafe Food Safety Certification.
    %br
    %h2 Other Values
    %h3 Outgoing.
    %h3 Motivated.
    %h3 Compassionate.
    %h3 Personable.
    %br
    .devise-center
      .home-button
        = link_to "Apply", careers_path