.home
  .home-mid
    %h1 Restaurant Server
    %h2 Position Overview
    %p
      While on the job you will be in charge of keeping track of and serving orders. You will need to coordinate with the cooks in terms of what food you need to complete an order. You need to have some sort of customer service skills to make sure our customers are happy and satisfied with their dining experience. You will also be responsible for coordinating your schedule with the manager and effective communication when and when you cannot work.
    %h2 Desired Skills
    %h3 Customer Service.
    %h3 Food Serving.
    %h3 Basic Math.
    %br
    %h2 Desired Abilities
    %h3 Can be on their feet for multiple hours.
    %h3 Able to lift at least 30lbs.
    %h3 Keeping track of food orders.
    %h3 Memorization of the menu after 4 weeks of working.
    %h3 Can handle money in values up to 500 dollars.
    %h3 Can handle a fast paced work environment.
    %br
    %h2 Desired Knowledge
    %h3 High School or GED Equivalent - Preference to College Graduates*.
    %h3 Previous Restaurant Experience - Preferably as a Manager/Supervisor.
    %h3 ServeSafe Food Safety Manager Certification.
    %h3 Basic First Aid Training
    %br
    %h2 Other Values
    %h3 Team-Oriented.
    %h3 Emotional Intelligence.
    %h3 Patience.
    %h3 Can handle adversity.
    %br
    .devise-center
      .home-button
        = link_to "Apply", careers_path